
@media (max-width: 1100px) {
    .panel>ul {
        margin-left: 50px;
    }
}


@media (max-width: 600px) {
    header {
        padding-top: 0px;
    }
    .panel>ul {
        flex-direction: column;
        margin-right: 0px;
    }
    .p {
        margin-right: 5px;
        margin-top: 3px;
        font-size: 10px;
    }
    .slider {
        height: 150px;
    }
    .logo {
        padding-top: 15px;
    }
}


@media (max-width: 600px) {
    .services {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        /* margin-left: 130px; */
    }
    .col1 {
        margin-left: 2px;
        margin-right: 2px;
    }
    .col2 {
        margin-top: 50px;
        margin-right: 0px;
    }
    .col3 {
        margin-top: 50px;
        margin-right: 0px;
    }
    .col4 {
        margin-right: 30px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .abs {
        left: 80px;
    }
    .video {
        width: 10px;
    }
    .youtube {
        width: 250px;
        margin-left: 60px;
    }
    .achieve {
        /* margin-left: 190px; */
        margin-left: 10px;
        margin-right: 0px;
    }
    .packages {
        flex-direction: column;
        margin-left: 2px;
        margin-right: 2px;
    }
    .x {
        margin-top: 90px;
    }
    .pir {
        margin-top: 10px;
    }
    .watch {
        /* margin-left: 120px; */
    }
    .ac {
        margin-right: 20px;
    }
    .ac>h3 {
        font-size: 16px;
    }
    .ac>p {
        font-size: 8px;
    }
    footer {
        flex-direction: column;
    }
    .input {
        width: 150px;
    }
    .foot {
        width: 150px;
    }
    .first {
        flex-direction: column;
    }
    .second {
        margin-top: 30px;
        padding-left: 0px;
    }
    .slider {
        padding-top: 10px;
    }
    .title3 {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .title4 {
        font-size: 10px;
    }
}